<h1>My Digital Objects</h1>
<hr>
<div class="search-area">
    <h2 class="h3">Search for Digital Objects</h2>
    <%= form_tag search_dpla_path, remote: true, method: :get do%>
        <div class="form-group row">
            <div class="col-sm-10">
                <%= text_field_tag :query, params[:query], placeholder: "Search the DPLA", autofocus: true, class: "form-control form-control-lg" %>
            </div>
            <div class="col-sm-2">
            <%= button_tag type: :submit, class: "btn btn-success btn-lg" do %>
                <%= fa_icon 'search', text: "Search", class: "h3" %>
            <% end %>
            </div>
        </div>
    <% end %>
</div>
<div id="results">
</div>
